@font-face {
  font-family: 'gotham-med';
  src: url('../fonts/gotham-med.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham-med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham-med.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gotham-med.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham-med.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham-med.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'gotham-light';
  src: url('../fonts/gotham-light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham-light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gotham-light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham-light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'gotham-book';
  src: url('../fonts/gotham-book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham-book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gotham-book.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham-book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham-book.svg#svgFontName') format('svg'); /* Legacy iOS */
}