@charset utf-8;
body {background:url(../images/content_bg.png) 0 0 repeat}
.dib {display:inline-block}
.box {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.no_gutter [class*="-3"],.no_gutter [class*="-9"]{padding:0}
/* head*/
header .logo {margin-left:43px !important}
header .header_top {width:100%;background-color:#abd036}
.navbar .container {padding:0 !important}
.gnb {float:right;margin:0;padding:0;list-style:none}
.gnb li {float:left;height:50px;margin-left:17px;background:url(../images/headertop_border.png) right top repeat-y;line-height:50px}
.gnb li a {display:inline-block;margin-right:10px;font-weight:normal;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#ffffff}
.gnb li a:hover,.gnb li a:visited,.gnb li a:active {text-decoration:none}
.gnb .search_btn {display:inline-block;width:19px;height:18px;margin-top:18px;margin-right:7px;background:url(../images/search_btn.png) 0 0 no-repeat;text-indent:9999;font-size:0}
.visible-xs-inline .search_btn {float:right;width:19px;height:18px;margin-top:18px;margin-right:7px;background:url(../images/search_btn.png) 0 0 no-repeat;text-indent:9999;font-size:0}
header .header_mnb {min-height:inherit;margin:0;background-color:#fff;border:0}
header .mnb {margin-top:25px;font-weight:bold;text-transform:uppercase;}
.mnb a {font-weight:normal;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#528fcc !important}
header .mnb_toggle {float:left;padding-top:7px;padding-bottom:7px;color:#fff}
header .logo {height:63px;margin:17px 0 20px 43px;padding:0;}
.mobile_title {display:inline-block;width:100%;font-size:16px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#fff;text-align:center;text-transform:uppercase}
/* end head*/
/* content */
#content {padding-bottom:47px;background:url(../images/content_bg.png) 0 0 repeat}
#content .guide_step {width:100%;height:55px;margin-bottom:70px;background-color:#f3f6f9;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb}
.guide_step .container {padding:0 !important}
.guide_step_content {display:table;width:100%;margin-top:-1px}
.guide_step_content .steps {display:table-cell;height:55px;text-align:center;vertical-align:middle;border:1px solid #ebebeb;border-right:none;}
.guide_step_content .steps.last {border-right:1px solid #ebebeb;}
.guide_step_content .steps.active {background-color:#528fcc;border:1px solid #2e75bc}
.guide_step_content .steps.done ,.guide_step_content .steps.failed{background-color:#fff}
.guide_step_content .steps a {display:inline-block;padding-left:32px;background:url(../images/guide_step_content.png) 0 center no-repeat;font-weight:normal;font-size:12px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#c4c9cc;text-transform:uppercase}
.guide_step_content .steps a:hover {text-decoration:none}
.guide_step_content .steps.active a {background:url(../images/guide_step_content-active.png) 0 center no-repeat;color:#ffffff}
.guide_step_content .steps.done a {background:url(../images/guide_step_content-done.png) 0 center no-repeat #fff}
.guide_step_content .steps.failed a {background:url(../images/guide_step_content-failed.png) 0 center no-repeat #fff}

#content .motor_content {background-color:#fff;-webkit-box-shadow: 0 0 3px 1px #e3e3e3;box-shadow: 0 0 3px 1px #e3e3e3;}
#content .title_sidebar {display:inline-block;width:100%;height:70px;background-color:#528fcc;border-bottom:1px solid #3e495f}
#content .title_sidebar h4 {margin:0;padding:0;line-height:70px;text-align:center}
.title_sidebar a,.title_sidebar a:hover {font-weight:normal;font-size:16px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#fff;text-decoration:none}

.side_bar .nav {background-color:#3e495f;color:#fff}
.side_bar .nav li {margin:0 !important}
.side_bar .first a {border-top:none !important}
.side_bar .last a {border-bottom:none !important}
.side_bar .nav a {position:relative;padding:17px 0 18px 0;font-weight:normal;font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#fffefe;text-align:center;border-top:1px solid #313b4e;border-bottom:1px solid #48546c}
.side_bar .nav a:active {background-color:#3e495f}
.side_bar .nav a:hover,.side_bar .nav a:active,.side_bar .nav a:focus,.side_bar .nav a:visited {background-color:#3e495f}
.side_bar .sidebar_arrow {z-index:9;position:absolute;top:0;right:-13px;display:inline-block;width:13px;height:100%;background:url(../images/sidebar_arrow.png) 0 center no-repeat}

#content .title_bar_mini {display:inline-block;margin-top:20px;margin-bottom:33px;background-color:#f3f6f9}
.title_bar_mini h3 {margin:0;padding:28px 0 27px;font-weight:normal;font-size:21px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#666666;text-transform:uppercase}

#content .title_bar {display:inline-block;height:70px;margin-bottom:26px;background-color:#f3f6f9;border-bottom:1px solid #ebebeb}
.title_bar h3 {margin:16px 0 0 0;font-weight:normal;font-size:21px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#666666;text-transform:uppercase}
.title_bar p {display:inline-block;padding:0;font-weight:normal;font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#999999}
@media (max-width: 992px) {
.title_bar p {font-size:10px}
}
/* form css  */
.form_style {outline:#2e75bc}
.form_label {text-align:left !important}
.form_newline {display:inline-block;width:100%}
.form_style [class*="-11"]{margin-bottom:5px !important}
.form_style label.control-label,.form_style .input_box {padding-left:0 !important}
.input_box {position:relative}
.input_box input {background-color:#fff}
.form_style label.control-label {margin-bottom:6px;font-weight:normal;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.form_style input.form-control,.form_style select {height:45px;font-weight:normal;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f;border-radius:8px !important}
.form_style input:focus,.form_style select:focus{box-shadow:none}
::-webkit-input-placeholder {color: #999999 !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif}
:-moz-placeholder { /* Firefox 18- */color: #999999 !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif }
::-moz-placeholder {  /* Firefox 19+ */color: #999999 !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif}
:-ms-input-placeholder {color: #999999 !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif  }
.required::-webkit-input-placeholder:after {content:"*";font-size:14px;color:#ff6363}
.required:-moz-placeholder:after   {content:"*";font-size:14px;color:#ff6363}
.required::-moz-placeholder:after  {content:"*";font-size:14px;color:#ff6363}
.required:-ms-input-placeholder:after  {content:"*";font-size:14px;color:#ff6363}
.form_style .opt1 {color:#cfcfcf !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif !important}
.form-group {margin-left:18px !important}
.form_button {margin:14px 0 40px 18px !important}
.form_button .btn {width:200px;height:45px;font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#fff;text-transform:uppercase !important;border-radius:20px;outline:none}
.form_button .btn-primary {margin-right:7px !important;background-color:#528fcc !important;border-color:#528fcc}
.form_button .btn-primary:focus {background-color:#528fcc;border-color:#528fcc;outline:none}
.form_button .btn-success {background-color:#abd036;border-color:#abd036}
.form_button .btn-success:focus {background-color:#abd036;border-color:#abd036;outline:none}
.form_button .btn-link {color:#666666;text-decoration:underline}
.form_style .small_text {margin:0 !important;padding:0 !important;font-size:10px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.form_style .radio_group {margin-left:29px}
.form_style .radio_type {display:block;margin-top:12px;margin-bottom:11px}
.form_style .radio_type_title {margin-bottom:10px !important;margin-left:12px;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.radio_type_title.t2,.line_title.t2 {margin-bottom:10px !important;margin-left:12px;font-weight:normal;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#}
.form_style .radio_type .radio-inline {font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.form_style .hl {font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#ff6363}
.form_style .checkbox {margin:0 0 0 10px}
.form_style .checkbox label {font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.form_style .radio_type_title strong {font-family:"gotham-med", Helvetica, Arial, Sans-serif !important}

.content_field .form_content {display:inline-block;width:100%;margin-bottom:20px;padding-left:6px}
.content_field .line_title {display:inline-block;width:100%;margin-bottom:12px}
.content_field .line_title p {margin:0;padding:0;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.content_field .form_field {display:inline-block;width:100%}
.form_content .form_line,.form_content .group_line {display:inline-block;width:100%} 

.form_line.t2 {padding-left:14px}
.form_line.t3 {padding-left:26px}
.n_title.required:after {content:"*";font-size:14px;color:#ff6363}
.n_title.s1 {display:inline-block;width:100%;height:40px}
.col-md-4.s2,.col-md-4.s3 {margin-right:20px}
.s2 input {margin-top:16px}
.form_line.t2 {padding-left:14px}
.content_field .item_choice span.loss_type,.content_field .item_choice span.loss_value {font-weight:normal;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f}
.item_choice .loss_type:after {content:" -"}

.form_content .group_line {margin-bottom:4px}
.content_field .form_input {padding-left:0;margin-bottom:7px}
.content_field .item_choice {display:inline-block;width:100%;height:30px;margin-bottom:2px;padding:0 9px 0 18px;background-color:#eeeeee;border-radius:5px;font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999;line-height:30px;}
.content_field .item_choice .btn_close {display:inline;float:right;width:15px;height:15px;margin-top:8px;background:url(../images/btn_close01.png) 0 0 no-repeat}
.content_field .item_choice span {margin-right:10px;font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.content_field .item_choice .value_name:after {content:","}
.content_field .item_choice .value_relations:before {content:"- "}
.content_field .item_choice .value_sday:before {content:"("}
.content_field .item_choice .value_eday:before {content:"- "}
.content_field .item_choice .value_eday:after {content:")"}
.content_field .item_choice .value_price:before {content:"- "}
.content_field .btn_add {display:inline-block;width:92px;height:32px;margin-bottom:22px;background:url(../images/btn_add.png) 0 0 no-repeat;cursor:pointer;outline:0}
.content_field .form_button {margin:0 0 47px !important}
.content_field .content_bg {padding:19px 17px 11px;background-color:#fbfbfb;border-radius:8px}
.content_field .item_field {display:inline-block;width:100%;padding:4px 10px 0 8px;margin-bottom:4px;background-color:#f0f0f0;border-radius:8px}
.item_field.t2 {background-color:#fbfbfb}
.content_field .item_field .form_input {position:relative;margin-bottom:4px;padding-right:4px}
.content_field .item_field .form_input {}
.content_field .form_input.btn_type {text-align:center}
.form_input .btn_remove {display:inline-block;float:none;margin:12px 0 12px}
.form_input .check_box {display:inline;float:left;margin-top:1px;margin-right:6px}
.form_input.al_ver {vertical-align:middle;height:45px;line-height:45px}
.form_input .btn_plus {margin-top :12px}
.form_input .value_field {display:inline;float:left;font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f}
.family_group,.group_group {display:inline-block;width:100%}
.content_field .insert_title {margin-left:10px;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.content_field .n_title {font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}

.item_field.nobg {background:none}
.item_field .yn_choice {display:inline-block;width:100%;text-align:center;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.item_field .b_choice {display:inline-block;width:100%;text-align:left;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.item_field .yn_question {margin:0 0 3px;padding:0;font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#999;}
.item_field .yn_question.required:after {content:"*";color:#ff6363}
.item_field .b_option {height:45px;line-height:45px;padding-left:15px;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999}

.common_group {display:inline-block;width:100%}

input.form-control {padding-right:26px}
input.form-control.error, .chosen-container.error .chosen-choices li.search-field  {background:url(../images/validate_error.png) right center no-repeat #fbfbfb !important;border-color:#c20000 !important;color:red !important}
.chosen-container.error .chosen-single {background:url(../images/validate_error.png) right center no-repeat !important;border-color:#c20000 !important}
.error .chosen-single b {background:none !important}
input.form-control.ok, .chosen-container.ok .chosen-choices li.search-field  {background:url(../images/validate_ok.png) right center no-repeat #fbfbfb !important}
.chosen-container.ok .chosen-single  {background:url(../images/validate_ok.png) right center no-repeat #fbfbfb !important}
.ok .chosen-single b {background:none !important}

.btxt {font-weight:bold}

input.form-control.error::-webkit-input-placeholder {color: #cfcfcf !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif}
input.form-control.error:-moz-placeholder { /* Firefox 18- */color: #cfcfcf !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif }
input.form-control.error::-moz-placeholder {  /* Firefox 19+ */color: #cfcfcf !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif}
input.form-control.error:-ms-input-placeholder {color: #cfcfcf !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif  }
#disabledSelect.select_other {font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#cfcfcf;font-weight:normal}

.input_box .error_msg {display:inline-bock;width:100%;margin-top:5px;padding-top:6px;background:url(../images/error_carat.png) right top no-repeat}
.input_box .error_msg p {display:inline-block;width:100%;padding:5px 10px;background-color:#c20000;font-size:12px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#fff;border-radius:7px}
.form_input .error_msg {display:inline-bock;width:100%;margin-top:5px;padding-top:6px;background:url(../images/error_carat.png) right top no-repeat}
.form_input .error_msg p {display:inline-block;width:100%;padding:5px 10px;background-color:#c20000;font-size:12px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#fff;border-radius:7px;text-align:left}
.form_input .ok_msg {display:inline-bock;width:100%;margin-top:5px;padding-top:6px;background:url(../images/ok_carat.png) right top no-repeat}
.form_input .ok_msg p {display:inline-block;width:100%;padding:5px 10px;background-color:#abd036;font-size:12px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#fff;border-radius:7px;text-align:left}
.login_input .error_msg {display:inline-bock;width:100%;margin-top:5px;padding-top:6px;background:url(../images/error_carat.png) right top no-repeat}
.login_input .error_msg p {display:inline-block;width:100%;padding:5px 10px;background-color:#c20000;font-size:12px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#fff;border-radius:7px}

.list_style ol {font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.fnt_style span {margin-left:5px;font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.fnt_style strong {font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}

.summary_field {padding-right:0;padding-left:23px}
.summary_info {display:inline-block;width:100%;margin-bottom:30px}
.summary_info .summary_title {display:inline-block;width:100%;height:32px;line-height:32px;margin-bottom:15px}
.summary_info .summary_title h4 {padding-left:15px;font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#ffffff}
.summary_info .summary_title.title-1 {background-color:#3e495f}
.summary_info .summary_title.title-2 {background-color:#abd036}
.summary_content,.summary_line {display:inline-block;width:100%}
.summary_content {padding-left:15px}
.summary_group {padding-right:0;padding-left:0}
.summary_note {display:inline-block;width:100%;margin-top:30px}

.print_btn {display:inline;float:right;width:34px;height:30px;margin-top:20px;background:url(../images/print_btn.png) 0 0 no-repeat;font-size:0;text-indent:9999;border:0;cursor:pointer}

.summary_note strong {font-weight:300;font-style:italic;font-size:12px;font-family:"gotham-med-ital","gotham-med", Helvetica, Arial, Sans-serif}
.summary_note p {margin-bottom:5px;font-style:italic;font-size:12px;font-family:"gotham-light-ital","gotham-light", Helvetica, Arial, Sans-serif;color:#666}
.summary_note span {margin-left:5px;font-style:italic;font-size:12px;font-family:"gotham-light-ital","gotham-light", Helvetica, Arial, Sans-serif;color:#666}
.computation * {line-height:1.2}
.computation .info_field {padding-left:0;padding-right:23px}
.computation .top_head {margin-bottom:23px;padding-right:0;padding-left:0;}
.computation .top_head .label_item,.computation .top_head .value_item  {font-weight:500;font-size:18px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f}
.computation .summary_group .label_item,.computation .summary_group .value_item {font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#666666}
.computation .bottom_foot {margin-top:5px;padding-top:18px;padding-right:0;padding-bottom:19px;padding-left:0;border-top:2px solid #040404;border-bottom:1px solid #040404}
.computation .bottom_foot .label_item,.computation .bottom_foot .value_item  {font-weight:500;font-size:18px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#333333}

.coverage * {line-height:1.4}
.coverage .info_field {padding-right:0;padding-left:0}
.coverage .order {float:left;width:8%;font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#666666}
.coverage .label_item {float:left;width:92%;font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#666666}
.coverage .value_item {font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#666666}
.coverage .summary_list {display:inline-block;margin-top:5px;margin-left:40px;font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#666666}

.insurance_info .summary_group {margin-bottom:30px}
.insurance_info .label_item {ffont-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#666666}
.insurance_info .value_item {margin-left:5px;font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#666666}

/* end form css  */

/* market slider */
.market_value_slider {display:block;padding-left:0 !important}
.market_value_slider-inner {position:relative;display:inline-block;width:100%}
.market_value_slider .value_slider {display:inline-block;width:100%;height:4px;background-color:#cccccc;border-radius:2px} 
.market_value_slider .value_toggle {position:absolute;top:5px;left:0;display:inline-block;width:16px;height:15px;background:url(../images/value_toggle.png) 0 0 no-repeat;cursor:pointer}
.market_value_slider .value_range {margin-top:5px;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.market_value_slider .value_left {float:left;margin-left:-10px}
.market_value_slider .value_right {float:right;margin-right:-15px}

/* quote summary */
.summary_section {margin:0 0 31px 0;padding:0 0 0 18px}
.section_title {height:32px;}
.section_title h5 {margin:0 0 0 15px;padding:0;line-height:32px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#ffffff}
.section_title.title_1 {background-color:#3e495f}
.section_title.title_2 {background-color:#abd036}
.summary_table,.disclaimer_section {margin-left:10px}
/* table 1*/
.summary_table.table_1 {margin-top:9px}
.summary_table.table_1 thead,.summary_table.table_1 tfoot {font-weight:normal;font-size:18px;font-family:"gotham-med", Helvetica, Arial, Sans-serif}
.summary_table.table_1 thead {color:#3e495f}
.summary_table.table_1 tfoot {color:#333333}
.summary_table.table_1 tbody {font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#666666}
.summary_table.table_1 thead th,.summary_table.table_1 thead td {padding-bottom:23px;border:0}
.summary_table.table_1 tbody th,.summary_table.table_1 tbody td {border:0}
.summary_table.table_1 thead td,.summary_table.table_1 tbody td,.summary_table.table_1 tfoot td {text-align:right}
.summary_table.table_1 tfoot th,.summary_table.table_1 tfoot td {border-top:2px solid #040404;border-bottom:1px solid #040404}
.table_type_1 .disclaimer_section h6 {margin-bottom:3px;font-weight:300;font-style:italic;font-size:12px;font-family:"gotham-med-ital","gotham-med", Helvetica, Arial, Sans-serif;color:#666}
.table_type_1 .disclaimer_section p {font-style:italic !important;font-size:12px;font-family:"gotham-light-ital","gotham-light", Helvetica, Arial, Sans-serif;color:#666}
/* table 2*/
.summary_table.table_2 {margin-top:9px}
.summary_table.table_2 thead,.summary_table.table_2 tbody {font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#666}
.summary_table.table_2 thead th {font-weight:normal;border:0}
.summary_table.table_2 tbody th,.summary_table.table_2 tbody td {font-weight:normal;border:0}
.summary_table.table_2 tbody td {text-align:right}
.summary_table.table_2 .pre_ltr {float:left;margin-right:15px}
.summary_table.table_2 strong {display:inline-block}
.summary_table.table_2 .list {margin-left:35px}
.table_type_2 .disclaimer_section p {margin-bottom:0;margin-left:12px;font-style:italic;font-size:12px;font-family:"gotham-light-ital","gotham-light", Helvetica, Arial, Sans-serif;color:#666}
.table_type_2 .disclaimer_section strong {font-weight:300;font-family:"gotham-med-ital","gotham-med", Helvetica, Arial, Sans-serif}
/* table 3*/
.summary_table.table_3 {margin-top:9px;margin-left:0}
.summary_table.table_3 thead th {padding-bottom:4px;font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999;border:0}
.summary_table.table_3 tbody th,.summary_table.table_3 tbody td {border:0}
.summary_table.table_3 tbody td strong {margin-right:5px;font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.summary_table.table_3 tbody td span {font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.summary_table.table_3 tbody td {padding-top:4px;padding-bottom:4px;padding-left:15px}

.nm12 .radio_type_title  {margin-left: 0 !important}
/* table 4*/
.table_type4  {margin-bottom:30px}
.table_type4 .title {font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.summary_table.table_4 {margin-top:2px;margin-left:0;margin-bottom:3px}
.summary_table.table_4 thead th {padding-bottom:4px;font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999;border:0}
.summary_table.table_4 tbody th,.summary_table.table_4 tbody td {border:0}
.summary_table.table_4 tbody td strong {margin-right:5px;font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.summary_table.table_4 tbody td span {font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.summary_table.table_4 tbody td {padding:4px 2px;vertical-align:middle;background-color:#f0f0f0}
.summary_table.table_4 tbody td:first-child {padding-left:16px;border-radius:8px 0 0 8px}
.summary_table.table_4 tbody td:last-child {padding-right:8px;border-radius:0 8px 8px 0}
.summary_table.table_4 tbody tr {padding-bottom:10px}

.fam_itene {margin-left:-15px !important}
.btn_plus {display:inline;float:left;width:18px;height:18px;margin-right:10px}
.btn_plus.active {background:url(../images/add_plus.png) 0 0 no-repeat}
.btn_remove {display:inline;float:left;width:11px;height:16px}
.btn_remove.active {background:url(../images/remove_user.png) 0 0 no-repeat}
/* end quote summary */
.information_section {margin:0 0 31px 0;padding:0 0 0 18px}
.information_section .form-group {margin-bottom:0;margin-left:0 !important}
.information_section .this_standard {display:inline-block;width:100%}
.information_section .other_standard {margin-bottom:11px}
.information_section .main_standard ol {font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.information_section .this_standard .title {font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.information_section .other_standard .title {margin:0}
.information_section .item_choice {display:inline-block;width:100%;height:30px;margin-bottom:2px;padding:0 9px 0 18px;background-color:#eeeeee;border-radius:5px;font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999;line-height:30px;}
.information_section .item_choice span {margin-right:10px;font-weight:normal !important;font-size:14px !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif  !important;color:#999999 !important}
.information_section .bold .item_choice,.information_section .bold .item_choice span {font-weight:bold  !important;font-family:"gotham-med", Helvetica, Arial, Sans-serif  !important;color:#3e495f !important}
.information_section .value_name:after {content:","}
.information_section .value_relations:before {content:"- "}
.btn_close {display:inline;float:right;width:15px;height:15px;margin-top:8px;background:url(../images/btn_close01.png) 0 0 no-repeat}
.information_section .btn_add {display:inline-block;width:92px;height:32px;background:url(../images/btn_add.png) 0 0 no-repeat;cursor:pointer;outline:0}
.calendar_input {background:url(../images/calendar_icon.png) right center no-repeat #fff}
.upload_box {display:inline-block;width:100%;height:30px;padding-right:9px;background-color:#eeeeee;border-radius:8px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999;line-height:30px}

.cover_value {display:inline-block;width:90%;margin-top:5px;margin-bottom:5px;font-weight:bold;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serifcolor:#3e495f}

.no_gutter .full_length {padding:0 0 0 0!important}
.new_row {display:inline-block;width:100%}
.row_pad {padding:0 25px}
.new_row .summary_section {padding:0}
.new_row .table_type_2 {background-color:#7b8699;padding-bottom:30px}
.new_row .summary_table.table_2 thead,.summary_table.table_2 tbody,.new_row .table_type_2 .disclaimer_section p {color:#d9dce3}
.new_row .no_gutter {padding:0 25px 0 6px}

.terms_conditions {margin-bottom:60px}
.terms_conditions p {font-weight:normal;font-style:italic;font-size:12px;font-family:"gotham-light-ital","gotham-light", Helvetica, Arial, Sans-serif;color:#666}
.terms_conditions .checkbox {margin-left:0}
.terms_conditions .checkbox label {font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.terms_conditions .checkbox a {text-decoration:underline;color:#999999}

.success_page {padding-top:10.67%;padding-bottom:10.68%;text-align:center}
.success_page h4 {margin:0 0 30px;padding:0;font-size:21px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#889399}
.success_page h4.fail {font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#ff0000}
.success_page h4 strong {font-weight:300;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#abd036}
.success_page .s_content {display:inline-block;float:none;padding:0}
.transaction_details {margin-bottom:40px;}
.transaction_details p,.final_message p {margin:0;font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#999999}
.transaction_details p strong {font-weight:300;font-family:"gotham-med", Helvetica, Arial, Sans-serif}
.transaction_details .trans_id,.final_message .email_id,.success_page span  {font-weight:300;font-family:"gotham-med", Helvetica, Arial, Sans-serif}
.final_message {margin-bottom:30px}
.transaction_details table.t_detail_table {margin:0 auto}
.transaction_details table.t_detail_table th {font-size:14px;font-weight:normal;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#999999;text-align:right}
.transaction_details table.t_detail_table td {padding-left:15px;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999;text-align:left}

.documents_section {display:inline-block;width:100%;min-height:65px}
.doc_list {display:table;width:100%}
.doc_list li {display:table-cell}
.doc_list a {display:inline-block;padding-top:53px;font-weight:600;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#528fcc}
.doc_list a:hover {text-decoration:none}
.doc_list .type_pdf {background:url(../images/type_pdf.png) center top no-repeat}
.doc_list .type_zip {background:url(../images/type_zip.png) center top no-repeat}
/* password */
.pass_page {padding-top:5.67%;padding-bottom:0.68%;text-align:center}
.pass_page h4 {margin:0 0 30px;padding:0;font-size:21px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#889399}
.pass_page h4 strong {font-weight:300;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#abd036}
.pass_page .s_content {display:inline-block;float:none;padding:0}
.pass_details {margin-bottom:40px;}
.pass_details p {margin:0;font-size:21px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#889399}
.pass_details .account_email {font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f}
.password_box {display:inline-block;width:100%;padding:25px 80px;background-color:#ecf3f9;border-radius:8px}
.password_box p {font-size:12px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.final_message {margin-bottom:30px}

.acc_details {margin-bottom:40px;}
.acc_details p {margin:0;font-size:21px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#889399}
.acc_details p strong {font-weight:300;font-family: "gotham-med", Helvetica, Arial, Sans-serif;color:#abd036}
.acc_details .account_email {font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f}
.acc_box {display:inline-block;width:100%;padding:25px 80px;background-color:#ecf3f9;border-radius:8px}
.acc_box p {padding-left:15px;padding-right:15px;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999;text-align:left}
.acc_box .form_input {margin-bottom:10px}
.final_message {margin-bottom:30px}
a.pass_forgot {display:inline-block;width:100%;margin-top:20px;font-size:12px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#528fcc}

/* Get Quote Intro */
.intro_page {padding-top:5.67%;padding-bottom:2.68%;text-align:center}
.intro_page .s_content {display:inline-block;float:none;padding:0}
.intro_box {display:inline-block;width:100%;padding:25px 40px;background-color:#ecf3f9;border-radius:8px;text-align:left}
.intro_box h5 {font-size:14px;font-weight:500;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.intro_box ul {padding-left:15px}
.intro_box li {font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.intro_details {margin-bottom:25px;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.intro_page .hl {font-weight:500;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#ff0000;text-transform:uppercase}

/* footer */
footer {width:100%;min-height:300px;background-color:#333a4d}
.nav_links {margin-top:60px}
.nav_links a.link_top {font-weight:normal;font-size:12px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#fff}
.nav_links a:hover,.nav_links a:active,.nav_links a:focus {text-decoration:none}
.nav_links dt {margin-bottom:12px}
.nav_links dd a {font-size:11px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#91959f}
.copyright {margin-bottom:0;font-size:11px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#fff;text-align:right}
.footer_nav {margin-top:25px}
.footer_nav a {font-size:11px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#91959f}

.nlst {margin:0;padding:0;list-style:none}
.cal {text-align:center}
.cal .btn_plus {float:none !important;display:inline-block}
.required .chosen-container-single .chosen-single span:after {content:"*";font-size:14px;color:#ff6363}

/* jQuery styles */
/* select style */
/* @group Base */
.chosen-container {position: relative;display: inline-block;vertical-align: middle;font-size: 13px;zoom: 1;*display: inline;-webkit-user-select: none;-moz-user-select: none;user-select: none;}
.chosen-container * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.chosen-container .chosen-drop {position: absolute;top: 100%;left: -9999px;z-index: 1010;width: 100%;background:url(../images/dropdown_below.png) right 0 no-repeat transparent;overflow:hidden}
.chosen-container.chosen-with-drop .chosen-drop {left: 0}
.chosen-container a {cursor: pointer;}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {margin-right: 4px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-weight: normal;color: #999999;}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {content: ":";padding-left: 2px;vertical-align: top;}
/* .chosen-container-multi  {padding: 0 0 0 0;height: 45px;border: 1px solid #cccccc;border-radius: 8px;background-color: #fbfbfb;color: #444;text-decoration: none;white-space: nowrap;line-height: 45px} */
/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {position: relative;display: block;overflow: hidden;padding: 0 0 0 12px;height: 45px;border: 1px solid #cccccc;border-radius: 8px;background-color: #fbfbfb;color: #444;text-decoration: none;white-space: nowrap;line-height: 24px;}
.chosen-container-single .chosen-default {color: #999;}
.chosen-container-single .chosen-single span {display: block;overflow: hidden;margin-right: 26px;text-overflow: ellipsis;white-space: nowrap}
.required .chosen-container-single .chosen-default span:after {content:"*";color:#ff6363}
.chosen-container-single .chosen-single-with-deselect span {margin-right: 38px;}
.chosen-container-single .chosen-single abbr {position: absolute;top: 6px;right: 26px;display: block;width: 12px;height: 12px;background: url('chosen-sprite.png') -42px 1px no-repeat;font-size: 1px;}
.chosen-container-single .chosen-single abbr:hover {background-position: -42px -10px;}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {background-position: -42px -10px;}
.chosen-container-single .chosen-single div {position: absolute;top: 0;right: 0;display: block;width: 18px;height: 100%;}
.chosen-container-single .chosen-single div b {display: block;width: 100%;height: 100%;background: url('../images/select_btn.png') no-repeat 0 center}
.chosen-container-single .chosen-search {position: relative;z-index: 1010;margin: 0;border-radius:8px 8px 0 0!important;padding: 8px 8px 8px;white-space: nowrap;background-color:#2e75bc;}
.chosen-container-single .chosen-search input[type="text"] {margin: 0 0;padding: 4px 20px 4px 5px;width: 100%;height: auto;outline: 0;border: none;background: white url('../images/chosen-sprite.png') no-repeat 100% -20px;background: url('../images/chosen-sprite.png') no-repeat 100% -20px;background-color:#fff;font-size: 1em;font-family: sans-serif;line-height: normal;border-radius: 0;}
.chosen-container-single .chosen-drop {margin-top: 5px;background-clip: padding-box;padding-top:5px}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {position: absolute;left: -9999px;}
/* @end */
/* @group Results */
.chosen-container .chosen-results {color: #444;position: relative;overflow-x: hidden;overflow-y: auto;margin: 0 0 0 0;padding: 0 0 0 0;max-height: 240px;border-radius:8px !important;background-color:#2e75bc;-webkit-overflow-scrolling: touch;}
.chosen-container .chosen-results li {display: none;margin: 0;padding: 10px 6px 10px 10px;list-style: none;line-height: 15px;font-weight:normal;font-size:13px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#fff;word-wrap: break-word;-webkit-touch-callout: none;border-bottom:2px groove #317ecb}
.chosen-container .chosen-results li:last-child {border-bottom:none}
.chosen-container .chosen-results li.active-result {display: list-item;cursor: pointer;}
.chosen-container .chosen-results li.disabled-result {display: list-item;color: #ccc;cursor: default;}
.chosen-container .chosen-results li.highlighted {background-color: #2465a6;color: #fff;}
.chosen-container .chosen-results li.no-results {display: list-item}
.chosen-container .chosen-results li.group-result {display: list-item;font-weight: bold;cursor: default;}
.chosen-container .chosen-results li.group-option {padding-left: 15px;}
.chosen-container .chosen-results li em {font-style: normal;text-decoration: underline;}
.chosen-container-multi .chosen-drop {margin-top: 5px;padding-top:5px}
/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {position: relative;overflow: hidden;margin-bottom:0;padding:0}
.chosen-container-multi .chosen-choices li {float: left;list-style: none;}
.chosen-container-multi .chosen-choices li.search-field {width:100%;margin-top:11px;padding: 0 0 0 0;height: 45px;border: 1px solid #cccccc;border-radius: 8px;background:url(../images/select_btn2.png) right center no-repeat #fbfbfb;color: #444;text-decoration: none;white-space: nowrap;line-height: 45px}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {margin: 1px 0;padding: 0 0 0 12px;outline: 0;border: 0 !important;background: transparent !important;box-shadow: none;color: #999;font-size: 100%;font-family: sans-serif;line-height: normal;border-radius: 0}
.chosen-container-multi .chosen-choices li.search-choice {position: relative;display:inline-block;width:100%;height:30px;margin-bottom:2px;padding:0 18px;background-color:#eeeeee;border-radius:5px;font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999;line-height:30px}
.chosen-container-multi .chosen-choices li.search-choice span {word-wrap: break-word;}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {position: absolute;top: 8px;right: 9px;display: block;width:15px;height: 15px;background: url('../images/btn_close01.png') 0 0 no-repeat;font-size: 1px}
.chosen-container-multi .chosen-choices li.search-choice-disabled {padding-right: 5px;border: 1px solid #ccc;background-color: #e4e4e4;background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);color: #666;}
.chosen-container-multi .chosen-choices li.search-choice-focus {background: #d4d4d4}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {background-position: -42px -10px;}
.chosen-container-multi .chosen-results {margin: 0;padding: 0;}
.chosen-container-multi .chosen-drop .result-selected {display: list-item;color: #ccc;cursor: default;}
/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {border: 1px solid #66afe9;}
.chosen-container-active.chosen-with-drop .chosen-single {border: 1px solid #66afe9;box-shadow: 0 1px 0 #fff inset;}
.chosen-container-active.chosen-with-drop .chosen-single div {border-left: none;background: transparent;}
.chosen-container-active .chosen-choices {}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {color: #222 !important;}
/* @end */
/* @group Disabled Support */
.chosen-disabled {opacity: 0.5 !important;cursor: default;}
.chosen-disabled .chosen-single {cursor: default;}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {cursor: default;}
/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {background-image: url('chosen-sprite@2x.png') !important;background-size: 52px 37px !important;background-repeat: no-repeat !important;}
}
/* @end */

/* specific style */
.search-field .default {font-weight:normal !important;font-size:14px !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif !important;color:#999999 !important;line-height:45px !important}
.chosen-single.chosen-default span {font-weight:normal !important;font-size:14px !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif !important;color:#999999 !important;line-height:45px !important}
.chosen-single span {font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f;line-height:45px}
.chosen-choices .search-choice span {font-weight:normal !important;font-size:14px !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif !important;color:#999999 !important}
/* end of select style */

/* range slider */
.rangeslider,
.rangeslider__fill {display:inline-block;width:100%;height:4px;background-color:#cccccc;border-radius:2px}
.rangeslider {position: relative;}
.rangeslider--disabled {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);opacity: 0.4;}
.rangeslider__fill {position:absolute;top:0;left:0;display:inline-block;width:100%;height:4px;background-color:#aaa;border-radius:2px}
.rangeslider__handle {display: inline-block;position: absolute;top:-5px;width:16px;height:15px;background:url(../images/value_toggle.png) 0 0 no-repeat;cursor:pointer}
.rangeslider__handle:after {content: "";display: block;width: 18px;height: 18px;margin: auto;position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');background-size: 100%;background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));-moz-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;}
input[type="range"]:focus + .rangeslider .rangeslider__handle {-moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);-webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);}

/* nice file upload */
.nice .NFI-button {display:inline-block;width:63px;height:22px;margin:4px 0 0 5px;background:url(../images/file_browse.png) 0 0 no-repeat}
.nice .NFI-filename {background:none;border:0}
.NFI-wrapper  {float:left;display:inline;width:90%}
.NFI-wrapper input[type="text"] {width:70%}


/* terms and conditions modal */
.terms_condition_modal .modal-dialog {position:relative;width:55.18%}
.terms_condition_modal .modal-header {margin-right:40px;margin-left:40px;padding-right:0;padding-bottom:0;padding-left:0;font-size:21px;font-family:"gotham-light", Helvetica, Arial, Sans-serif !important;color:#999999}
.terms_condition_modal .logo {margin:25px 0 40px}
.terms_condition_modal .modal-title span {display:inline-block;width:100%;margin:0 0 5px;padding:0}
.terms_condition_modal .modal-body {padding-right:40px;padding-bottom:30px;padding-left:40px}
.terms_condition_modal .tc_content {height:450px;overflow:auto}
.tc_content p {font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#999999;line-height:19px}
.tc_content strong {display:block;font-weight:400;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.tc_content p strong,.tc_content li strong {display:inline}
.tc_content li {font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#999999;line-height:19px}

.cancel_modal .modal-dialog {position:relative;width:27.38%}
.cancel_modal .modal-body {margin-top:80px;text-align:center}
.cancel_modal .form_button {display:inline-block;margin:0 !important}
.cancel_modal .message {margin-bottom:30px;font-size:14px;font-weight:400;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}

.terms_condition_modal .modal_close_btn,.cancel_modal .modal_close_btn {position:absolute;top:10px;right:10px;display:inline;float:right;width:41px;height:41px;background:url(../images/modal_close01.png) 0 0 no-repeat;border:0;cursor:pointer}


/* loader */
.p-loader {z-index:99999;position:fixed;top:0;right:0;display:inline-block;width:100%;height:100%;background:url(../images/opacity-box.png) 0 0 repeat;text-align:center}
.load-con {position:relative;display:inline-block;margin-top:20%}
.load-con span {position:relative;display:inline-block;margin-top:50px;font-weight:300;font-size:16px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#abd036}
.loader {font-size: 90px;text-indent: -9999em;overflow: hidden;width: 1em;height: 1em;border-radius: 50%;position: relative;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);-webkit-animation: load6 1.7s infinite ease;animation: load6 1.7s infinite ease;}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #abd036, 0 -0.83em 0 -0.42em #abd036, 0 -0.83em 0 -0.44em #abd036, 0 -0.83em 0 -0.46em #abd036, 0 -0.83em 0 -0.477em #abd036;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #abd036, 0 -0.83em 0 -0.42em #abd036, 0 -0.83em 0 -0.44em #abd036, 0 -0.83em 0 -0.46em #abd036, 0 -0.83em 0 -0.477em #abd036;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #abd036, -0.087em -0.825em 0 -0.42em #abd036, -0.173em -0.812em 0 -0.44em #abd036, -0.256em -0.789em 0 -0.46em #abd036, -0.297em -0.775em 0 -0.477em #abd036;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #abd036, -0.338em -0.758em 0 -0.42em #abd036, -0.555em -0.617em 0 -0.44em #abd036, -0.671em -0.488em 0 -0.46em #abd036, -0.749em -0.34em 0 -0.477em #abd036;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #abd036, -0.377em -0.74em 0 -0.42em #abd036, -0.645em -0.522em 0 -0.44em #abd036, -0.775em -0.297em 0 -0.46em #abd036, -0.82em -0.09em 0 -0.477em #abd036;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #abd036, 0 -0.83em 0 -0.42em #abd036, 0 -0.83em 0 -0.44em #abd036, 0 -0.83em 0 -0.46em #abd036, 0 -0.83em 0 -0.477em #abd036;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #abd036, 0 -0.83em 0 -0.42em #abd036, 0 -0.83em 0 -0.44em #abd036, 0 -0.83em 0 -0.46em #abd036, 0 -0.83em 0 -0.477em #abd036;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #abd036, 0 -0.83em 0 -0.42em #abd036, 0 -0.83em 0 -0.44em #abd036, 0 -0.83em 0 -0.46em #abd036, 0 -0.83em 0 -0.477em #abd036;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #abd036, -0.087em -0.825em 0 -0.42em #abd036, -0.173em -0.812em 0 -0.44em #abd036, -0.256em -0.789em 0 -0.46em #abd036, -0.297em -0.775em 0 -0.477em #abd036;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #abd036, -0.338em -0.758em 0 -0.42em #abd036, -0.555em -0.617em 0 -0.44em #abd036, -0.671em -0.488em 0 -0.46em #abd036, -0.749em -0.34em 0 -0.477em #abd036;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #abd036, -0.377em -0.74em 0 -0.42em #abd036, -0.645em -0.522em 0 -0.44em #abd036, -0.775em -0.297em 0 -0.46em #abd036, -0.82em -0.09em 0 -0.477em #abd036;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #abd036, 0 -0.83em 0 -0.42em #abd036, 0 -0.83em 0 -0.44em #abd036, 0 -0.83em 0 -0.46em #abd036, 0 -0.83em 0 -0.477em #abd036;
  }
}

/* Calendar */
.datepicker {min-width:260px;border-radius:8px;background-color:#3e495f;border:1px ridge #313b4e}
.datepicker-switch {font-size:18px}
.datepicker-days table,.datepicker-months table,.datepicker-years table {width:100%}
.datepicker table thead {background-color:#528fcc;color:#fff}
.datepicker table th,.datepicker table td {text-align:center}
.datepicker .day {color:#ffffff}
.datepicker .day:hover {text-decoration:underline;cursor:pointer}
.datepicker-days .old.day {color:#757575}
.datepicker-days .new.day {color:#acacac}
.datepicker span.month {display:inline-block;width:25%;color:#ffffff}
.datepicker span.year {display:inline-block;width:25%;color:#ffffff}
.datepicker .prev,.datepicker .next {cursor:pointer}

/* Client */
.client_page {display:inline-block;width:100%;margin-top:70px}
.client_mnb {margin:0 !important;height:100%}
.client_mnb li {height:100px}
.client_mnb li:hover,.client_mnb li.on {background-color:#528fcc !important;}
.client_mnb li a {margin-top:25px;padding-top:43px}
.client_mnb li a:hover,.client_mnb li.on a {color:#fff !important}
.client_mnb li .icon01 {background:url(../images/client_home.png) center top no-repeat}
.client_mnb li .icon01:hover,.client_mnb li.on .icon01 {background:url(../images/client_home_on.png) center top no-repeat}
.client_mnb li .icon02 {background:url(../images/client_policies.png) center top no-repeat}
.client_mnb li .icon02:hover,.client_mnb li.on .icon02  {background:url(../images/client_policies_on.png) center top no-repeat}
.client_mnb li .icon03 {background:url(../images/client_quote.png) center top no-repeat}
.client_mnb li .icon03:hover,.client_mnb li.on .icon03  {background:url(../images/client_quote_on.png) center top no-repeat}
.client_mnb li .icon04 {background:url(../images/client_deal.png) center top no-repeat}
.client_mnb li .icon04:hover,.client_mnb li.on .icon04 {background:url(../images/client_deal_on.png) center top no-repeat}
.client_mnb li .icon05 {background:url(../images/client_contact.png) center top no-repeat}
.client_mnb li .icon05:hover,.client_mnb li.on .icon05  {background:url(../images/client_contact_on.png) center top no-repeat}
.client_mnb ul li:hover a {color:#fff !important}
.client_box {padding:0}
.client_content {margin-top:70px;margin-bottom:33px}
.image_header {padding:0;}
.image_header  img {width:100%}
.content_text {padding-left:24px;padding-right:24px}
.content_text p {font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#999999}
.cover_list  {margin-top:60px;margin-bottom:33px}
.cover_list h4 {font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.cover_list ul {padding-left:17px}
.cover_list li {padding:0;font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#999999}
.cover_list li ul {padding-left:24px}
.cover_list li li {list-style:none}
.cover_list li li:before {content: "– "}
.round_box {display:inline-block;width:100%;padding:30px 33px;background-color:#fff;-webkit-box-shadow: 0 0 3px 1px #e3e3e3;box-shadow: 0 0 3px 1px #e3e3e3;border-radius:8px}
.rb_mb {margin-bottom:21px !important}
.npr {padding-right:0 !important}
.npl {padding-left:0}
.box_title {margin:0 0 20px;padding:0;font-size:21px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#666666;text-transform:uppercase}
.text_list {margin-bottom:27px}
.text_list .title {margin:0 0 5px;padding:0;font-weight:normal;font-size:12px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.text_list ul {padding:0 0 0 10px;list-style:none}
.text_list li,.text_list p {font-size:12px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#999999}
.text_list p a {color:#528fcc}
.text_list .btn_call {display:inline-block;width:13px;height:13px;background:url(../images/call_btn.png) 0 0 no-repeat}
.profile_img {text-align:center}
.client_img {display:inline-block;width:122px;text-align:right}
.client_img .img {display:inline-block;width:122px;height:122px;padding:2px;background-color:#666666;border-radius:4px}
.btn_change {height:12px;padding-top:4px;padding-left:14px;font-size:10px;font-family:Arial, Sans-serif;color:#0068b3;background:url(../images/edit_btn.png) 0 bottom no-repeat}

.info_grp {display:inline-block;width:100%}
.client_personal_info .info_grp {padding-left:35px}
.client_personal_info .grp_line {display:inline-block;width:100%;margin-bottom:10px}
.client_personal_info .title_break {display:inline-block;width:100%;height:32px;margin-bottom:23px;padding:11px 15px;background-color:#f3f6f9;border-radius:8px}
.client_personal_info .title_break h5 {margin:0;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}

.info_grp .info_label {padding-left:0;font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#999999}
.info_grp .info_val {font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f}
.a-right {text-align:right}
.nm {margin-left:0 !important;margin-right:0 !important}

.login_info .info_val {padding-left:0;padding-right:0;color:#cfcfcf}
.login_info .count {float:right;color:#abd036}
.login_info .btn {margin-right:0 !important}
.login_info .form_button {margin-left:0 !important;margin-right:0 !important;margin-bottom:0 !important}

.round_box.full_box {padding-top:0;padding-right:0;padding-left:0}
.status {font-weight:600;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif}
.status.active {color:#abd036}
.status.inactive {font-weight:normal;font-style:italic;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#bebebe}

.client_tabs {display:inline-block;width:100%}
.client_tabs .round_box{padding-right:12px;padding-left:12px}
.client_tabs .tab-pane {padding-right:0;padding-left:0}
.searchtab_btn {border:0;background:none;color:#a0bcd9}
.client_tabs .search_tab {display:inline-block;width:100%;height:40px;margin-bottom:2px;padding-right:20px;padding-left:20px;background-color:#edf5fc;border-radius:8px;line-height:40px}
.search_input {width:80%;border:0;background:none;outline:none;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#485369}
.search_input::-webkit-input-placeholder {color: #b7c4df !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif}
.search_input:-moz-placeholder { /* Firefox 18- */color: #b7c4df !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif }
.search_input::-moz-placeholder {  /* Firefox 19+ */color: #b7c4df !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif}
.search_input:-ms-input-placeholder {color: #b7c4df !important;font-family:"gotham-light", Helvetica, Arial, Sans-serif  }
.client_box .nav>li>a {width:175px;padding:0;text-align:center}
.client_box .nav-tabs {margin-left:30px;margin-bottom:3px;border-bottom:0}
.client_box .nav-tabs li {width:179px;height:65px;border:0 !important;margin-right:-3px;padding-top:3px;padding-left:3px;overflow:hidden}
.client_box .nav-tabs>li.active>a {height:65px;margin-top:0;border:0;background-color:#fff;line-height:65px;color:#889399;-webkit-box-shadow: 0 0 3px 1px #e3e3e3;box-shadow: 0 0 3px 1px #e3e3e3;}
.client_box .nav-tabs>li>a {height:45px;margin-top:20px;border:0;background-color:#999999;line-height:45px;font-weight:600;font-size:16px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;text-transform:uppercase;color:#ffffff;border-radius:8px 8px 0 0;}
.client_box .nav-tabs>li>a:hover {height:65px;margin-top:0;border:0;background-color:#fff;line-height:65px;color:#889399;-webkit-box-shadow: 0 0 3px 1px #e3e3e3;box-shadow: 0 0 3px 1px #e3e3e3;}
.tab-content.round_box {margin-top:-2px}

.client_tabs .sort_icon {font-size:10px}
.client_tabs thead {margin-bottom:5px}
.client_tabs thead>tr>th {height:40px;background-color:#d1e2f3;border-bottom:0}
.client_tabs thead>tr>th:first-child {border-radius:8px 0 0 8px}
.client_tabs thead>tr>th:last-child {border-radius:0 8px 8px 0}
.client_tabs tbody:before {line-height:0.5em; content:"\200C"; display:block}
.client_tabs tbody>tr>td {border-top:0}
.client_tabs tbody>tr:nth-child(odd)>td {background-color:#f4f4f4}
.client_tabs tbody>tr:nth-child(even)>td {background-color:#fbfbfb}
.client_tabs thead a {font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f}
.client_tabs thead a:hover {text-decoration:none}

.client_tabs .order {font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#999999}
.client_tabs .request_no,.client_tabs .policy_id {font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#3e495f}
.client_tabs .request_date,.client_tabs .policy_period {font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#3e495f}
.client_tabs .request_status,.client_tabs .policy_status {font-weight:600;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f}
.client_tabs .request_status.pending {color:#528fcc}
.client_tabs .request_status.review {color:#ff0000}
.client_tabs .request_status.cancelled {color:#787878}
.client_tabs .policy_status.active {color:#abd036}
.client_tabs .policy_status.inactive {color:#ff0000}
.client_tabs .insure_type {font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#3e495f}
.client_tabs .market_val,.client_tabs .net_premium {font-size:14px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#3e495f}
.client_tabs .pagination {font-size:12px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#959595}
.client_tabs .pagination>li>a,.client_tabs  .pagination>li>span {font-size:12px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#959595;border:0;background:none}


/* Admin */

#content.admin_dashboard {background:url(../images/content_bg02.png) 0 0 repeat}
#content .admin_page_top {width:100%;min-height:69px;margin-bottom:28px;background-color:#e4e4e4;border-top:2px ridge #a3a3a3;border-bottom:2px ridge #a3a3a3;line-height:69px}
#content .admin_page_top .container {padding:0}
#content .login_page_top {width:100%;min-height:219px;margin-bottom:70px;background:url(../images/content_bg02.png) 0 0 repeatbackground-color:#e5e5e5;border-bottom:2px ridge #a3a3a3}
.admin_dashboard .additional_title {margin-bottom:30px;padding:0}
.admin_dashboard .additional_title h5 {margin:0;font-size:14x;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#666666}
.admin_dashboard .line_space {margin-bottom:15px}
.admin_dashboard .login_input {padding-left:0}
.admin_dashboard .title_top {text-align:center}
.admin_dashboard .page_title .logo {margin-right:40px}
.admin_dashboard .page_title {display:inline-block;margin-top:98px;font-size:27px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#5f5f5f;text-align:left}
.admin_dashboard .page_title p {padding:27px 0 0 0}
.admin_dashboard .login_title {height:17px;padding-top:2px;padding-left:21px;background:url(../images/login_icon.png) 0 center no-repeat;font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#747474;line-height:17px}
.admin_dashboard .input_box {padding:9px;margin-bottom:5px;background-color:#d3d3d3;border:1px solid #c1c1c1;border-radius:8px}
.admin_dashboard .forgot_pw {font-size:12px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#528fcc}
.admin_dashboard .login_btn {height:32px;background-color:#b2d740;font-weight:400;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#fff;border:1px solid #95b52e;border-radius:15px}

.page_title_top {height:69px;margin:0;padding:0;font-size:21px;font-family:"gotham-book", Helvetica, Arial, Sans-serif;color:#666666;text-transform:uppercase;line-height:69px}
.site_date {height:69px;padding:0;line-height:69px;text-align:right}
.site_date .btn_info {display:inline;float:left;width:12px;height:69px;margin-right:14px;background:url(../images/info_btn.png) 0 center no-repeat}
.site_date .date_content {dispaly:inline;float:left;margin:0;padding:0;font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif}
.date_content span {margin-right:5px;color:#999999}
.date_content strong {font-weight:300;color:#3e495f}
.site_date .date_container {display:inline-block}

.dashbox {margin-bottom:15px;padding:12px 9px;background-color:#f0f0f0;border:1px solid #dcdcdc;border-radius:8px}

.dashboard_content {padding:30px;background-color:#fff;-webkit-box-shadow: 0 0 3px 1px #e3e3e3;box-shadow: 0 0 3px 1px #e3e3e3}
.dashboard_content .dash_menu {width:50px;padding:10px;margin-bottom:10px;background-color:#fff;border:1px solid #dbdbdb;border-radius:23px}
.dash_menu:last-child {margin-bottom:0}
.dash_menu li {margin-bottom:12px}
.dash_menu li:last-child {margin-bottom:0}
.dash_menu .menu_link {display:inline-block;width:28px;height:29px}
.dash_menu .link_dashboard {background:url(../images/icon_dash02.png) 0 0 no-repeat}
.dash_menu .link_transaction {background:url(../images/icon_transaction02.png) 0 0 no-repeat}
.dash_menu .link_reports {background:url(../images/icon_report02.png) 0 0 no-repeat}
.dash_menu .link_resourcecenter {background:url(../images/icon_resource02.png) 0 0 no-repeat}
.dash_menu .link_search {background:url(../images/icon_research02.png) 0 0 no-repeat}
.dash_menu .link_profile {background:url(../images/icon_profile.png) 0 0 no-repeat}
.dash_menu .link_settings {background:url(../images/icon_setting.png) 0 0 no-repeat}

.dashboard_content  .welcome_msg {padding:15px 16px;background-color:#eaeaea;font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f}
.dashboard_control {margin-top:40px;padding:0;text-align:center}
.dashboard_navigation {display:inline-block;margin:0;padding:0}
.dashboard_navigation li {display:inline;float:left;width:142px;height:142px;margin-right:30px;margin-bottom:30px;background:url(../images/dashboard_btn_off.png) 0 0 no-repeat}
.dashboard_navigation li:last-child {margin-right:0}
.dashboard_navigation li.on,.dashboard_navigation li:hover {background:url(../images/dashboard_btn_on.png) 0 0 no-repeat}
.dashboard_navigation li.on a,.dashboard_navigation li a:hover {color:#528fcc;text-decoration:none}
.dashboard_navigation li a {display:inline-block;margin-top:52px;padding-top:35px;font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#727272}
.dashboard_navigation .link_about {background:url(../images/icon_about.png) center top no-repeat}
.dashboard_navigation .on .link_about,.dashboard_navigation li:hover .link_about {background:url(../images/icon_about_on.png) center top no-repeat}
.dashboard_navigation .link_lastest {background:url(../images/icon_latest.png) center top no-repeat}
.dashboard_navigation .on .link_lastest,.dashboard_navigation  li:hover .link_lastest  {background:url(../images/icon_latest_on.png) center top no-repeat}
.dashboard_navigation .link_events {background:url(../images/icon_events.png) center top no-repeat}
.dashboard_navigation .on .link_events,.dashboard_navigation  li:hover .link_events {background:url(../images/icon_events_on.png) center top no-repeat}
.dashboard_navigation .link_special {background:url(../images/icon_special.png) center top no-repeat}
.dashboard_navigation .on .link_special,.dashboard_navigation  li:hover .link_special {background:url(../images/icon_special_on.png) center top no-repeat}
.dashboard_navigation .link_newsletter {background:url(../images/icon_newsletter.png) center top no-repeat}
.dashboard_navigation .on .link_newsletter,.dashboard_navigation  li:hover .link_newsletter {background:url(../images/icon_newsletter_on.png) center top no-repeat}

.no_linetitle {margin-top:32px}
.no_linetitle .checkbox {margin-top:7px}
.dashboard_content .line_title p {color:#3e495f}
.dashboard_content .dashbox .btn_addprofile {display:inline-block;width:100%;height:30px;margin-top:2px;background:url(../images/addprofile_bg.png) 0 0 repeat-x;font-weight:500;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;border:1px solid #467fb8;border-radius:15px;color:#ffffff}
.dashboard_content .dashbox .btn_creategroup {display:inline-block;width:100%;height:30px;margin-top:2px;background:url(../images/creategroup_bg.png) 0 0 repeat-x;font-weight:500;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;border:1px solid #3e3e3e;border-radius:15px;color:#ffffff}
.dashboard_content .dashbox .btn_create {display:inline-block;width:100%;height:30px;margin-top:2px;background:url(../images/create_bg.png) 0 0 repeat-x;font-weight:500;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;border:1px solid #95b52e;border-radius:15px;color:#ffffff}
.dashboard_content input.form-control {height:35px}
.dashboard_content .chosen-single {height:35px}
.dashboard_content .chosen-single span {line-height:35px !important}
.dashboard_content .form_content:last-child {margin-bottom:0}

.dashtable  {padding:0}
.dashtable .top_head {padding:0;background:url(../images/table_topheadbg.png) 0 center repeat-x;border:1px solid #dcdcdc;border-radius:8px}
.dashtable .top_head .checkbox {margin-left:10px;margin-top:12px;margin-bottom:12px}
.dashtable .top_head .checkbox label {font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}

.dashtable .col {padding:0}
.dashtable  .table_head {display:inline-block;width:100%;margin-top:17px;margin-bottom:17px}
.table_head .col {text-align:center}
.table_head .col strong {font-weight:600;font-size:14px;font-family:"gotham-medium", Helvetica, Arial, Sans-serif;color:#999999}
.table_head .col_first {text-align:left;padding-left:38px}

.dashtable .tabletoggle {background:none;border:none}
.dashtable .tabletoggle .caret {margin-left:10px}

.dashtable .tabledate {font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#99999}
.table_content .col_first {padding-left:10px;text-align:left !important}
.table_item .checkbox {display:inline;float:left;margin:5px 0 0}
.table_item .client {float:left;height:30px;margin-left:9px;padding-left:10px;border-left:1px solid #c0c0c0}
.table_item .client_con {height:30px;padding-left:25px;background:url(../images/icon_file.png) left center no-repeat}
.table_item .client_doc {height:30px;padding-left:25px;background:url(../images/icon_file.png) left center no-repeat;font-weight:600;font-size:14px;font-family:"gotham-medium", Helvetica, Arial, Sans-serif;color:#3e495f}
.client_con .client_name {margin:0 0 -5px;padding:0;font-weight:600;font-size:14px;font-family:"gotham-medium", Helvetica, Arial, Sans-serif;color:#3e495f;line-height:1}
.client_con .status {display:inline-block;font-weight:600;font-size:12px;font-family:"gotham-medium", Helvetica, Arial, Sans-serif;color:#797979;line-height:1}
.client_con .status.active {color:#abd036}
.client_con .status.inactive {color:#797979}

.dashtable .table_item {display:inline-block;width:100%;height:55px;margin-bottom:5px;padding:0;background:url(../images/table_item.png) 0 center repeat-x;border:1px solid #dcdcdc;border-radius:8px}
.dashtable .table_item.on,.dashtable .table_item:hover {background:url(../images/table_item_on.png) 0 center repeat-x}
.dashtable .table_item .col {height:30px;margin-top:11px;text-align:center;line-height:30px;border-right:1px dotted #b9b9b9}
.dashtable .table_item .col:first-child {border:none}
.dashtable .table_item .col:last-child {border:none}
.dashtable .btn_view {display:inline-block;width:19px;height:12px;margin:0;padding:0;background:url(../images/icon_view.png) 0 0 no-repeat}

.dashtable .nested_table {display:inline-block;width:100%;margin-bottom:35px;padding-left:35px}
.dashtable .nested_box {padding-left:36px;background:url(../images/nested_line.png) 0 top no-repeat}
.dashtable .nested_box:last-child {background:url(../images/nested_end.png) 0 top no-repeat}
.dashtable .nested_item {display:inline-block;width:100%;height:55px;margin-bottom:1px;padding:0;background:url(../images/table_item.png) 0 center repeat-x;border:1px solid #dcdcdc;border-radius:8px}
.dashtable .table_foot {display:inline-block;width:100%;height:48px;padding:0;background:url(../images/table_footer.png) 0 center repeat-x;border:1px solid #dcdcdc;border-radius:8px}

.dashtable .btn_page {display:inline-block;width:23px;height:23px;background-color:#ffffff;font-size:12px;text-align:center;color:#999999;border:1px solid #999999;border-radius:8px;line-height:23px}
.dashtable .page_button,.table_pagination {margin-top:12px}
.dashtable .table_pagination {display:inline-block;width:100%;text-align:center}
.dashtable .table_pagination a.btn_page {font-size:14px;font-family:"gotham-medium", Helvetica, Arial, Sans-serif;color:#999999}
.dashtable  .on a.btn_page,.dashtable  a.btn_page:hover {background-color:#5894d1;color:#ffffff;border:1px solid #467fb8;text-decoration:none}
.dashtable .table_foot ul {display:inline-block;list-style:none;padding:0;}
.dashtable .table_foot ul li {float:left;margin-right:4px}
.dashtable .table_foot ul li:last-child {margin-right:0}

/* mobile responsive  css*/

@media (max-width: 991px) {
	.header_top .container {padding:0}
	.header_top .container  .col-xs-1,.header_top .container  .col-xs-10 {padding:0}
	#content  .motor_content {border-radius:10px;overflow:hidden}
	.m_m {margin-top:12px}
	.visible-xs-inline .search_btn {display:inline-block;margin-top:20px}
	.title_bar {background:none !important;border:none !important}
	.title_bar h3 {padding:21px 15px;background-color:#f3f6f9;border-radius:8px}
	.title_bar p {display:none}
	.buttons {text-align:center}
	.form_button {display:inline-block}
	.info_field.text-right {text-align:left}
	.forgot_pw {display:inline-block;width:100%;margin-bottom:10px;text-align:center !important}
	.dash_menu {width:100% !important;height:50px;margin-bottom:5px}
	.dash_menu li {float:left;margin-right:10px}
	.dash_menu li:last-child {margin-right:0}
	.welcome_msg {margin-top:10px}
	#content .mobile_gs {width:100%;height:auto;margin-top:33px;margin-bottom:30px;background:none;border-top:none;border-bottom:none}
	.mobile_gsc .steps {display:table-cell;height:55px;text-align:center;vertical-align:top;border:none}
	.mobile_gsc .steps.last {border-right:none}
	.mobile_gsc .steps.last {border-right:none}
	.mobile_gsc .steps.active {background:none !important;border:none;color:#c4c9cc}
	.mobile_gsc .steps.done ,.mobile_gsc .steps.failed{background:none}
	.mobile_gsc .steps a {display:inline-block;padding-top:45px;padding-left:0;background:url(../images/mgs_default.png) center top no-repeat;font-weight:normal;font-size:12px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#c4c9cc;text-transform:uppercase}
	.mobile_gsc .steps a:hover {text-decoration:none}
	.mobile_gsc .steps.active a {background:url(../images/mgs_active.png) center top no-repeat;color:#427bc0}
	.mobile_gsc .steps.done a {background:url(../images/mgs_done.png) center top no-repeat;color:#abd036}
	.mobile_gsc .steps.failed a {background:url(../images/mgs_default.png) center top no-repeat}
	
	footer {width:100%;min-height:55px;background-color:#fff}
	.footer_logo {float:left}
	.mob_footnav {float:right;display:table;margin:0;padding:0;list-style:none}
	.mob_footnav li{display:table-cell;vertical-align:middle;text-align:center}
	.mob_footnav .ico1 {display:inline-block;width:26px;height:31px;background:url(../images/footer_ml01.png) center center no-repeat}
	.mob_footnav .ico2 {display:inline-block;width:29px;height:29px;background:url(../images/footer_ml02.png) center center no-repeat}
	.mob_footnav .ico3 {display:inline-block;width:29px;height:29px;background:url(../images/footer_ml03.png) center center no-repeat}
}
@media (min-width: 300px)  and (max-width: 500px){
	.mobile_gsc .steps a {font-size:10px !important}
}

.onoffswitch {
    position: relative; width: 65px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #9CCA2A; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #CC462B; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}