
.content_field .form_content {display:inline-block;width:100%;margin-bottom:20px;padding-left:6px}
.content_field .line_title {display:inline-block;width:100%;margin-bottom:12px}
.content_field .line_title p {margin:0;padding:0;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#999999}
.content_field .form_field {display:inline-block;width:100%}
.form_content .form_line,.form_content .group_line {display:inline-block;width:100%} 
.form_content .group_line {margin-bottom:4px}
.content_field .form_input {padding-left:0;margin-bottom:7px}
.content_field .item_choice {display:inline-block;width:100%;height:30px;margin-bottom:2px;padding:0 9px 0 18px;background-color:#eeeeee;border-radius:5px;font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999;line-height:30px;}
.content_field .item_choice .btn_close {display:inline;float:right;width:15px;height:15px;margin-top:8px;background:url(../images/btn_close01.png) 0 0 no-repeat}
.content_field .item_choice span {margin-right:10px;font-weight:normal;font-size:14px;font-family:"gotham-light", Helvetica, Arial, Sans-serif;color:#999999}
.content_field .item_choice .value_name:after {content:","}
.content_field .item_choice .value_relations:before {content:"- "}
.content_field .item_choice .value_sday:before {content:"("}
.content_field .item_choice .value_eday:before {content:"- "}
.content_field .item_choice .value_eday:after {content:")"}
.content_field .btn_add {display:inline-block;width:92px;height:32px;background:url(../images/btn_add.png) 0 0 no-repeat;cursor:pointer;outline:0}
.content_field .form_button {margin:0 0 47px !important}
.content_field .content_bg {padding:19px 17px 11px;background-color:#fbfbfb;border-radius:8px}
.content_field .item_field {display:inline-block;width:100%;padding:4px 10px 0 8px;margin-bottom:4px;background-color:#f0f0f0;border-radius:8px}
.content_field .item_field .form_input {margin-bottom:4px}
.content_field .item_field .form_input {padding-right:4px}
.content_field .form_input.btn_type {text-align:center}
.form_input .btn_remove {display:inline-block;float:none;margin:12px 0 12px}
.form_input .check_box {display:inline;float:left;margin-top:1px;margin-right:6px}
.form_input.al_ver {vertical-align:middle;height:45px;line-height:45px}
.form_input .btn_plus {margin-top :12px}
.form_input .value_field {display:inline;float:left;font-weight:300;font-size:14px;font-family:"gotham-med", Helvetica, Arial, Sans-serif;color:#3e495f}